@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Geist;
}

.hero {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  gap: 10px;
  background-color: red;

}

div{
  border: 1px solid grey;
}