
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
    gap: 10px;
}

.progress-container {
    
    width: 100%;
    height: 20px;
    max-width: 500px;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    transition: width 0.3s ease;
}