* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button */
.open-btn {
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  box-shadow: 1px 1px 1px 1px salmon;
}

/* Overlay */
#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}

/* Modal */
#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 60px;
  background: white;
  border-radius: 8px;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 20;
  box-shadow: 0.4px 0.4px 1px 1px slateblue;
}

/* Active State */
#modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

#overlay.active {
  display: block;
}

/* Close Button */
.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
